/* *{
  background-color: black;
  height: 100p;
  width: 500px;
  align-items: center;
  align-content: center;
  margin-top: 50px;
  margin-left: 50px;
  position: relative;
  justify-content: center;
  
}
.carousel-control-prev{
  height: ;
  
}

 */

 #banner_screen{
   height: 50% !important;
 }


